wheel
ipykernel
numpy
matplotlib
torch
pandas
seaborn
mujoco-py
box2d-py
stable-baselines3
gymnasium
gymnasium[mujoco]
sb3-contrib
tensorboard
optuna
optuna-integration
sbx-rl
rl_zoo3
plotly==6.0.0rc0
scikit-learn
isort
scipy
git+https://github.com/pre63/black.git
skrl
skrl[torch]
statsmodels
gymnasium[other]
minigrid